[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
viola = {path = "."}
pip-licenses = "*"
twine = "*"
wheel = "*"
viola-sv = "==1.0.0.dev2"
jupyter = "*"
jupyterlab = "*"

[packages]
pytest = "*"
tox = "*"
tox-pyenv = "*"
jupyterlab = "*"
pandas = "*"
pyvcf = "*"
intervaltree = "*"
biopython = "*"

[requires]
python_version = "3.8"
